<mtapp:setting
    id="imexport_character"
    label="<__trans phrase="Imexport character">">
<p><input type="radio" id="imexport_character_0" name="imexport_character" value="cp932" <mt:if name="imexport_character" eq="cp932">checked</mt:if> /> <label for="imexport_character_0"><__trans phrase="shiftjis"></label><br />
   <input type="radio" id="imexport_character_1" name="imexport_character" value="utf-8" <mt:if name="imexport_character" eq="utf-8">checked</mt:if> /> <label for="imexport_character_1"><__trans phrase="utf8"></label><br />
   <input type="radio" id="imexport_character_2" name="imexport_character" value="euc" <mt:if name="imexport_character" eq="euc">checked</mt:if> /> <label for="imexport_character_2"><__trans phrase="euc"></label><br />
   <input type="radio" id="imexport_character_3" name="imexport_character" value="system" <mt:if name="imexport_character" eq="system">checked</mt:if> /> <label for="imexport_character_3"><__trans phrase="system"></label></p>
</mtapp:setting>

<mtapp:setting
    id="line_feed_code"
    label="<__trans phrase="Line feed code">">
<p><input type="radio" id="line_feed_code_0" name="line_feed_code" value="0" <mt:if name="line_feed_code" eq="0">checked</mt:if> /> <label for="line_feed_code_0"><__trans phrase="windows"></label><br />
   <input type="radio" id="line_feed_code_1" name="line_feed_code" value="1" <mt:if name="line_feed_code" eq="1">checked</mt:if> /> <label for="line_feed_code_1"><__trans phrase="mac"></label><br />
   <input type="radio" id="line_feed_code_2" name="line_feed_code" value="2" <mt:if name="line_feed_code" eq="2">checked</mt:if> /> <label for="line_feed_code_2"><__trans phrase="system"></label></p>
</mtapp:setting>

<mtapp:setting
    id="asset_upload"
    label="<__trans phrase="Asset Upload">">
<p><input type="radio" id="asset_upload_0" name="asset_upload" value="0" <mt:if name="asset_upload" eq="0">checked</mt:if> /> <label for="asset_upload_0"><__trans phrase="no upload"></label><br />
   <input type="radio" id="asset_upload_1" name="asset_upload" value="1" <mt:if name="asset_upload" eq="1">checked</mt:if> /> <label for="asset_upload_1"><__trans phrase="upload"></label><br />
   <input type="radio" id="asset_upload_2" name="asset_upload" value="system" <mt:if name="asset_upload" eq="system">checked</mt:if> /> <label for="asset_upload_2"><__trans phrase="system"></label></p>
</mtapp:setting>

<mtapp:setting
    id="select_box_value"
    label="<__trans phrase="Select box type">">
<p><input type="radio" id="select_box_value_0" name="select_box_value" value="0" <mt:if name="select_box_value" eq="0">checked</mt:if> /> <label for="select_box_value_0"><__trans phrase="label"></label><br />
   <input type="radio" id="select_box_value_1" name="select_box_value" value="1" <mt:if name="select_box_value" eq="1">checked</mt:if> /> <label for="select_box_value_1"><__trans phrase="value"></label><br />
   <input type="radio" id="select_box_value_2" name="select_box_value" value="2" <mt:if name="select_box_value" eq="2">checked</mt:if> /> <label for="select_box_value_2"><__trans phrase="system"></label></p>
</mtapp:setting>

<mtapp:setting
    id="checkboxes_value"
    label="<__trans phrase="Checkbox type">">
<p><input type="radio" id="checkboxes_value_0" name="checkboxes_value" value="0" <mt:if name="checkboxes_value" eq="0">checked</mt:if> /> <label for="checkboxes_value_0"><__trans phrase="label"></label><br />
   <input type="radio" id="checkboxes_value_1" name="checkboxes_value" value="1" <mt:if name="checkboxes_value" eq="1">checked</mt:if> /> <label for="checkboxes_value_1"><__trans phrase="value"></label><br />
   <input type="radio" id="checkboxes_value_2" name="checkboxes_value" value="2" <mt:if name="checkboxes_value" eq="2">checked</mt:if> /> <label for="checkboxes_value_2"><__trans phrase="system"></label></p>
</mtapp:setting>

<mtapp:setting
    id="radio_button_value"
    label="<__trans phrase="Radio button type">">
<p><input type="radio" id="radio_button_value_0" name="radio_button_value" value="0" <mt:if name="radio_button_value" eq="0">checked</mt:if> /> <label for="radio_button_value_0"><__trans phrase="label"></label><br />
   <input type="radio" id="radio_button_value_1" name="radio_button_value" value="1" <mt:if name="radio_button_value" eq="1">checked</mt:if> /> <label for="radio_button_value_1"><__trans phrase="value"></label><br />
   <input type="radio" id="radio_button_value_2" name="radio_button_value" value="2" <mt:if name="radio_button_value" eq="2">checked</mt:if> /> <label for="radio_button_value_2"><__trans phrase="system"></label></p>
</mtapp:setting>

<mtapp:setting
    id="is_revision"
    label="<__trans phrase="Is revision">">
<p><input type="radio" id="is_revision_0" name="is_revision" value="0" <mt:if name="is_revision" eq="0">checked</mt:if> /> <label for="is_revision_0"><__trans phrase="no revision"></label><br />
   <input type="radio" id="is_revision_1" name="is_revision" value="1" <mt:if name="is_revision" eq="1">checked</mt:if> /> <label for="is_revision_1"><__trans phrase="do revision"></label><br />
   <input type="radio" id="is_revision_2" name="is_revision" value="system" <mt:if name="is_revision" eq="system">checked</mt:if> /> <label for="is_revision_2"><__trans phrase="system"></label></p>
</mtapp:setting>
