<mtapp:setting
    id="is_cloud"
    label="<__trans phrase="Is Cloud">">
<p><input type="radio" id="is_cloud_0" name="is_cloud" value="0" <mt:if name="is_cloud" eq="0">checked</mt:if> /> <label for="is_cloud"><__trans phrase="no cloud"></label><br />
   <input type="radio" id="is_cloud_1" name="is_cloud" value="1" <mt:if name="is_cloud" eq="1">checked</mt:if> /> <label for="is_cloud"><__trans phrase="cloud"></label><br />
</mtapp:setting>

<mtapp:setting
    id="imexport_character_system"
    label="<__trans phrase="Imexport character">">
<p><input type="radio" id="imexport_character_0" name="imexport_character_system" value="cp932" <mt:if name="imexport_character_system" eq="cp932">checked</mt:if> /> <label for="imexport_character_0"><__trans phrase="shiftjis"></label><br />
   <input type="radio" id="imexport_character_1" name="imexport_character_system" value="utf-8" <mt:if name="imexport_character_system" eq="utf-8">checked</mt:if> /> <label for="imexport_character_1"><__trans phrase="utf8"></label><br />
   <input type="radio" id="imexport_character_2" name="imexport_character_system" value="euc" <mt:if name="imexport_character_system" eq="euc">checked</mt:if> /> <label for="imexport_character_2"><__trans phrase="euc"></label></p>
</mtapp:setting>

<mtapp:setting
    id="line_feed_code_system"
    label="<__trans phrase="Line feed code">">
<p><input type="radio" id="line_feed_code_0" name="line_feed_code_system" value="0" <mt:if name="line_feed_code_system" eq="0">checked</mt:if> /> <label for="line_feed_code_0"><__trans phrase="windows"></label><br />
   <input type="radio" id="line_feed_code_1" name="line_feed_code_system" value="1" <mt:if name="line_feed_code_system" eq="1">checked</mt:if> /> <label for="line_feed_code_1"><__trans phrase="mac"></label><br />
</mtapp:setting>

<mtapp:setting
    id="asset_upload"
    label="<__trans phrase="Asset Upload">">
<p><input type="radio" id="asset_upload_0" name="asset_upload_system" value="0" <mt:if name="asset_upload_system" eq="0">checked</mt:if> /> <label for="asset_upload_0"><__trans phrase="no upload"></label><br />
   <input type="radio" id="asset_upload_1" name="asset_upload_system" value="1" <mt:if name="asset_upload_system" eq="1">checked</mt:if> /> <label for="asset_upload_1"><__trans phrase="upload"></label><br />
</mtapp:setting>

<mtapp:setting
    id="select_box_value_system"
    label="<__trans phrase="Select box type">">
<p><input type="radio" id="select_box_value_system_0" name="select_box_value_system" value="0" <mt:if name="select_box_value_system" eq="0">checked</mt:if> /> <label for="select_box_value_system_0"><__trans phrase="label"></label><br />
   <input type="radio" id="select_box_value_system_1" name="select_box_value_system" value="1" <mt:if name="select_box_value_system" eq="1">checked</mt:if> /> <label for="select_box_value_system_1"><__trans phrase="value"></label></p>
</mtapp:setting>

<mtapp:setting
    id="checkboxes_value_system"
    label="<__trans phrase="Checkbox type">">
<p><input type="radio" id="checkboxes_value_system_0" name="checkboxes_value_system" value="0" <mt:if name="checkboxes_value_system" eq="0">checked</mt:if> /> <label for="checkboxes_value_system_0"><__trans phrase="label"></label><br />
   <input type="radio" id="checkboxes_value_system_1" name="checkboxes_value_system" value="1" <mt:if name="checkboxes_value_system" eq="1">checked</mt:if> /> <label for="checkboxes_value_system_1"><__trans phrase="value"></label></p>
</mtapp:setting>

<mtapp:setting
    id="radio_button_value_system"
    label="<__trans phrase="Radio button type">">
<p><input type="radio" id="radio_button_value_system_0" name="radio_button_value_system" value="0" <mt:if name="radio_button_value_system" eq="0">checked</mt:if> /> <label for="radio_button_value_system_0"><__trans phrase="label"></label><br />
   <input type="radio" id="radio_button_value_system_1" name="radio_button_value_system" value="1" <mt:if name="radio_button_value_system" eq="1">checked</mt:if> /> <label for="radio_button_value_system_1"><__trans phrase="value"></label></p>
</mtapp:setting>

<mtapp:setting
    id="is_revision"
    label="<__trans phrase="Is revision">">
<p><input type="radio" id="is_revision_0" name="is_revision_system" value="0" <mt:if name="is_revision_system" eq="0">checked</mt:if> /> <label for="is_revision_0"><__trans phrase="no revision"></label><br />
   <input type="radio" id="is_revision_1" name="is_revision_system" value="1" <mt:if name="is_revision_system" eq="1">checked</mt:if> /> <label for="is_revision_1"><__trans phrase="do revision"></label><br />
</mtapp:setting>
