<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:SetVar name="aform_tmpl" value="aform_error">
<mt:include name="modules/header.tmpl" component="AForm">
<mt:include name="modules/error.tmpl" component="AForm">
<mt:include name="modules/footer.tmpl" component="AForm">
