<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:setvarblock name="page_title"><mt:var name="display_title" escape="html"></mt:setvarblock>
<mt:setvarblock name="content_header">
    <div id="msg-container">
    </div>
</mt:setvarblock>

<mt:setvarblock name="aform_navi">
    <nav aria-label="A-Form Navigation" id="entry-nav" class="pkg clearfix">
        <ul class="pagination float-right inline-nav right">
            <li class="page-item" id="previous-link"><mt:if name="previous_aform_id"><a href="<$mt:var name="script_url"$>?__mode=list_aform_entry&amp;id=<$mt:var name="previous_aform_id"$>&amp;blog_id=<$mt:var name="blog_id"$>" class="page-link"><__trans phrase="Previous"></a></mt:if></li>
            <li class="page-item" id="manage-link"><a href="<$mt:var name="script_url"$>?__mode=manage_aform&amp;blog_id=<$mt:var name="blog_id"$>" class="page-link"><__trans phrase="Manage A-Form"></a></li>
            <li class="page-item" id="next-link"><mt:if name="next_aform_id"><a href="<$mt:var name="script_url"$>?__mode=list_aform_entry&amp;id=<$mt:var name="next_aform_id"$>&amp;blog_id=<$mt:var name="blog_id"$>" class="page-link"><__trans phrase="Next"></a></mt:if></li>
        </ul>
    </nav>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('#pagination-top').addClass('pagination');
	jQuery('#pagination-top').closest('div').addClass('col-12');
	jQuery('div.mt-table--outline').after(jQuery('#actions-bar-top'));
	jQuery('#actions-bar-top').addClass('mt-3');
});
</script>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" type="text/css" href="<mt:var name="plugin_static_uri">edit_aform.css" />
</mt:setvarblock>

<mt:setvarblock name="page_content">
<mt:var name="aform_navi">
<mt:var name="aform_action_tabs">
<$mt:include name="include/aform_entry_table.tmpl"$>
</mt:setvarblock>

<MTVersion setvar="mtver">
<mt:if name="mtver" ge="7">
  <mt:include name="layout/default.tmpl">
  <mt:var name="layout">
<mt:else>
  <mt:include name="include/header.tmpl" id="header_include">
  <mt:var name="page_content">
  <mt:var name="related_content">
  <mt:include name="include/footer.tmpl" id="footer_include">
</mt:if>
