<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>

<mt:loop name="fields">
<mt:if name="type" eq="label"><$mt:var name="label" remove_html="1"$><mt:else><__trans phrase="* "><$mt:var name="label" remove_html="1"$></mt:if>
<$mt:var name="label_value"$><mt:if name="type" eq="upload"><mt:if name="upload_path"> (<mt:var name="upload_path">)</mt:if></mt:if>
</mt:loop>

==================================
<$mt:var name="datetime"$>
==================================
<mt:if name="display_ip_ua">
<__trans phrase="IP">: <mt:var name="ip">
<__trans phrase="User Agent">: <mt:var name="ua">
</mt:if>
