<div class="view-block">
	<div class="aform-input-example parts-%%field_idx%%">%%field_input_example%%</div>
	<select id="parts-%%field_idx%%" class="aform-input aform-select parts-%%field_idx%%" name="aform-field-%%field_idx%%"></select>
</div>

<mt:include name="include/edit_aform_field/parts_common.tmpl"
	display_label="1"
	display_parts_id="1"
	display_required="1"
	display_input_example="1">

<div class="form-group">
	<label for=""><__trans phrase="Options"></label>
	<div class="mt-table--outline mb-3">
		<table class="table mt-table values-option-table" ref="table">
			<thead>
			<tr>
				<th scope="col"><__trans phrase="Label"></th>
				<th scope="col" class="check"><__trans phrase="Destination"></th>
				<th scope="col"></th>
				<th scope="col" class="delete"><__trans phrase="delete"></th>
			</tr>
			</thead>
			<tbody id="aformFieldSelectOptionTbody%%field_idx%%">
			</tbody>
		</table>
	</div>
	<button type="button" class="btn btn-default btn-sm aform-field-add-value" id="aformFieldAddValue%%field_idx%%"><mtapp:svgicon id="ic_add" title="<__trans phrase="Add">" size="sm"><__trans phrase="Add"></button>
	<button type="button" class="btn btn-default btn-sm ml-3 aform-field-use-default" id="aformFieldUseDefault%%field_idx%%"><mtapp:svgicon id="ic_add" title="<__trans phrase="Add">" size="sm"><__trans phrase="use default"></button>
</div>
