<tr>
	<td><input type="text" class="form-control required aform-field-edit-value-label-text" id="aformFieldEditValueLabelText%%field_idx%%-%%option_idx%%" value=""></td>
	<td><input type="checkbox" class="form-control aform-field-edit-dropdown-option-use-mail-setting" id="aformFieldEditDropdownOptionUseMailSetting%%field_idx%%-%%option_idx%%" value="1"></td>
	<td>
		<div style="display:none;" id="aformFieldEditDropdownOptionUseMailDestination%%field_idx%%-%%option_idx%%">
			<div class="form-inline mb-3">
				<label class="w-25" for="">To:</label>
				<input type="text" class="form-control w-75 aform-field-edit-dropdown-option-mail-to" id="aformFieldEditDropdownOptionMailTo%%field_idx%%-%%option_idx%%" value="">
			</div>
			<div class="form-inline mb-3">
				<label class="w-25" for="">Cc:</label>
				<input type="text" class="form-control w-75 aform-field-edit-dropdown-option-mail-cc" id="aformFieldEditDropdownOptionMailCc%%field_idx%%-%%option_idx%%" value="">
			</div>
			<div class="form-inline mb-3">
				<label class="w-25" for="">Bcc:</label>
				<input type="text" class="form-control w-75 aform-field-edit-dropdown-option-mail-bcc" id="aformFieldEditDropdownOptionMailBcc%%field_idx%%-%%option_idx%%" value="">
			</div>
		</div>
	</td>
	<td class="button"><button type="button" class="btn btn-default btn-sm btn-notext aform-field-delete-value" id="aformFieldDeleteValue%%field_idx%%-%%option_idx%%"><mtapp:svgicon id="ic_trash" title="<__trans phrase="delete">" size="sm"></button></td>
</tr>

