<div class="view-block">
	<span class="aform-validation parts-%%field_idx%%">%%field_validation%%</span>
	<div class="aform-input-example parts-%%field_idx%%">%%field_input_example%%</div>
	<ul class="aform-name-ul">
	<li><label for="parts-%%field_idx%%-lastname"><__trans phrase="Last name"></label>
		<input id="parts-%%field_idx%%-lastname" class="aform-input aform-name parts-%%field_idx%% validate-name required" name="aform-field-%%field_idx%%-lastname" type="text" value="" size="20"></li>
	<li><label for="parts-%%field_idx%%-firstname"><__trans phrase="First name"></label>
		<input id="parts-%%field_idx%%-firstname" class="aform-input aform-name parts-%%field_idx%% validate-name required" name="aform-field-%%field_idx%%-firstname" type="text" value="" size="20"></li>
	</ul>
</div>

<mt:include name="include/edit_aform_field/parts_common.tmpl"
	display_label="1"
	display_parts_id="1"
	display_required="1"
	display_input_example="1"
	display_length="1">
