<mt:include name="include/edit_aform_field/parts_common.tmpl"
	display_label="0"
	display_parts_id="1">

<div class="form-group">
	<label for="aformFieldEditPagebreakNextText%%field_idx%%"><__trans phrase="Label for next button"></label>
	<input type="text" class="form-control aform-field-edit-pagebreak-next-text" id="aformFieldEditPagebreakNextText%%field_idx%%" value="%%next_text%%">
</div>
