<mt:include name="include/edit_aform_field/parts_common.tmpl"
	display_label="1"
	display_parts_id="1"
	display_required="1"
	display_input_example="1">

<div class="form-group">
	<label for="aformFieldEditParameterNameText%%field_idx%%"><__trans phrase="Parameter Name"></label>
	<input type="text" class="form-control aform-field-edit-parameter-name-text" id="aformFieldEditParameterNameText%%field_idx%%">
</div>

<div class="form-group">
	<label for="aformFieldShowParameter%%field_idx%%"><__trans phrase="show parameter"></label>
	<input type="checkbox" class="mt-switch form-control aform-field-show-parameter" id="aformFieldShowParameter%%field_idx%%" value="1">
	<label for="aformFieldShowParameter%%field_idx%%"><__trans phrase="show parameter"></label>
</div>
