<tr>
	<td><input type="radio" class="form-control aform-field-value-radio parts-%%field_idx%%" id="aformField%%field_idx%%-%%option_idx%%" name="parts-%%field_idx%%-checked"></td>
	<td><input type="text" id="aformFieldEditValueLabelText%%field_idx%%-%%option_idx%%" class="form-control required aform-field-edit-value-label-text" value=""></td>
	<td><input type="checkbox" class="form-control aform-field-use-other-value" id="aformFieldUseOtherValue%%field_idx%%-%%option_idx%%"></td>
	<td class="button"><button type="button" class="btn btn-default btn-sm btn-notext aform-field-delete-value" id="aformFieldDeleteValue%%field_idx%%-%%option_idx%%"><mtapp:svgicon id="ic_trash" title="<__trans phrase="delete">" size="sm"></button></td>
	<td class="button"><button type="button" style="display:%%display_up_btn%%" class="btn btn-default btn-sm btn-notext aform-field-up-value" id="aformFieldUpValue%%field_idx%%-%%option_idx%%"><mtapp:svgicon id="ic_tri-up" title="<__trans phrase="up">" size="sm"></button></td>
	<td class="button"><button type="button" style="display:%%display_down_btn%%" class="btn btn-default btn-sm btn-notext aform-field-down-value" id="aformFieldDownValue%%field_idx%%-%%option_idx%%"><mtapp:svgicon id="ic_tri-down" title="<__trans phrase="down">" size="sm"></button></td>
</tr>
