<tr>
	<td><input type="text" class="form-control-plaintext" id="aformFieldUseDefaultLabel%%field_idx%%" value="<__trans phrase="please select">" readonly></td>
	<td class="button"><button type="button" class="btn btn-default btn-sm btn-notext aform-field-use-default-delete" id="aformFieldUseDefaultDelete%%field_idx%%"><mtapp:svgicon id="ic_trash" title="<__trans phrase="delete">" size="sm"></button></td>
	<td class="button"></td>
	<td class="button"></td>
</tr>
