<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:include name="themes/jungfrau/header.tmpl" component="AForm">

<mt:include name="modules/error.tmpl" component="AForm">

<mt:include name="themes/jungfrau/footer.tmpl" component="AForm">
