  </div><!-- /.content-main -->

  <div class="content-side">
  <mt:Pages folder="$parentfolder">
    <mt:PagesHeader>
    <section class="content-side-section content-side-section-box">
      <div class="content-side-section-box-title"><mt:PageFolder><mt:FolderLabel encode_html="1"></mt:PageFolder></div>
      <ul class="text-smaller">
    </mt:PagesHeader>
        <li><a href="<mt:PagePermaLink>"><mt:PageTitle></a></li>
    <mt:PagesFooter>
      </ul>
    </section>
    </mt:PagesFooter>
  </mt:Pages>
  </div><!-- /.content-side -->

</div><!-- /.content -->

<mt:Include module="footer">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="<mt:SiteURL encode_html="1">js/common.js"></script>

</body>
</html>
