<mtapp:setting
    id="fjgmcf_api_key"
    label="<__trans phrase="API Key">"
    hint="<__trans phrase="Please specify API key of GoogleMaps.">"
    show_hint="1">
    <input type="text" name="fjgmcf_api_key" id="fjgmcf_api_key" value="<$mt:var name="fjgmcf_api_key"$>" class="form-control text" />
</mtapp:setting>
