<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>

  <mtapp:setting
    id="salesforce_web_to_lead_oid_setting"
    label="<__trans phrase="Salesforce Web-to-lead(Web-to-case) oid">"
    hint="<__trans phrase="Please enter oid to authenticate the API.">"
    show_hint="1">
    <input type="text" class="form-control" name="salesforce_web_to_lead_oid" value="<mt:var name="salesforce_web_to_lead_oid">" id="salesforce_web_to_lead_oid" class="rb" />
  </mtapp:setting>
