<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>

◆◆ Webお問い合わせ受付け通知 ◆◆

下記お客様からのお問い合わせを受付けました。
内容確認の上、対応してください。

区分：「故障・修理申請」

申請日　　　　：<$mt:var name="datetime"$>
受付番号　　　：D576__%aform-data-id%__367

■お客様情報

氏　名　　　　：<mt:loop name="fields"><mt:If name="parts_id" eq="shimei_1"><$mt:var name="label_value"$></mt:If><mt:If name="parts_id" eq="shimei_2"><$mt:var name="label_value"$></mt:If><mt:If name="parts_id" eq="mailaddress">
E-mail　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="houjin_mei">
会社名　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="zip_1">
郵便番号　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="address_1">
住　所　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="address_2"><$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="address_3"><$mt:var name="label_value"$></mt:If><mt:If name="parts_id" eq="telnum">
電話番号　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="agency_name">
代理店名　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="agent_name">
代理店担当者名：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="applications_number">
申請台数　　　：<$mt:var name="label_value"$></mt:if></mt:loop>

●1台目の申請 ===============
■製品情報 #1台目<mt:loop name="fields"><mt:If name="parts_id" eq="product_name_1">
製品名　　　　　　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="serial_no_1">
シリアルナンバー　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="firmware_1">
ファームウェアバージョン：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="hardware_version_1">
ハードウェアバージョン　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="purchase_date_1">
購入日　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="warranty_1">
D-Linkリミテッドライフタイム保証対象製品：<$mt:var name="label_value"$></mt:If></mt:loop>

■障害内容 #1台目
故障内容【STEP1】
<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><$mt:var name="label_value"$></mt:If></mt:loop>

故障内容詳細【STEP2】<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="①電源部不具合">

①電源部不具合
<$mt:setvar name="occurrence_point_1_1_value"$><$mt:setvar name="condition_1_1_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_1_1"><mt:setvarblock name="occurrence_point_1_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_1_1_value"$><mt:If name="occurrence_point_1_1_value" like="その他 発生箇所"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_1_1"><mt:If name="occurrence_point_1_1_value" like="その他 発生箇所">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="condition_1_1"><mt:setvarblock name="condition_1_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_1_value"$><mt:If name="condition_1_1_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_1"><mt:If name="condition_1_1_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="②PoE受電または給電不具合">

②PoE受電または給電不具合
<$mt:setvar name="condition_1_2_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_1_2"><mt:setvarblock name="condition_1_2_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_2_value"$><mt:If name="condition_1_2_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_2"><mt:If name="condition_1_2_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="③LED不具合">

③LED不具合
<$mt:setvar name="occurrence_point_1_3_value"$><$mt:setvar name="condition_1_3_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_1_3"><mt:setvarblock name="occurrence_point_1_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_1_3_value"$><mt:If name="occurrence_point_1_3_value" like="上記以外の箇所で発生"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_1_3"><mt:If name="occurrence_point_1_3_value" like="上記以外の箇所で発生">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="occurrence_port_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_1_3"><mt:setvarblock name="condition_1_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_3_value"$><mt:If name="condition_1_3_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_3"><mt:If name="condition_1_3_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="④ポート不具合">

④ポート不具合
<$mt:setvar name="condition_1_4_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_1_4"><mt:setvarblock name="condition_1_4_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_4_value"$><mt:If name="condition_1_4_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_4"><mt:If name="condition_1_4_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_1_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑤FAN不具合">

⑤FAN不具合
<$mt:setvar name="condition_1_5_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_1_5"><mt:setvarblock name="condition_1_5_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_5_value"$><mt:If name="condition_1_5_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_5"><mt:If name="condition_1_5_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑥無線接続の不具合">

⑥無線接続の不具合
<$mt:setvar name="condition_1_6_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_1_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_1_6"><mt:setvarblock name="condition_1_6_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_6_value"$><mt:If name="condition_1_6_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_6"><mt:If name="condition_1_6_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_1_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑦リセット（初期化）の不具合">

⑦リセット（初期化）の不具合
<$mt:setvar name="condition_1_7_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_1_7"><mt:setvarblock name="condition_1_7_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_1_7_value"$><mt:If name="condition_1_7_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_1_7"><mt:If name="condition_1_7_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_1_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_1_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_1_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_1_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop>

詳細【STEP3】
<mt:loop name="fields"><mt:If name="parts_id" eq="detail_coment_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>

■修理後ご返却先情報 #1台目
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_1"><$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_1"><mt:If name="label_value" like="NO"><mt:loop name="fields"><mt:If name="parts_id" eq="return_houjin_mei_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_agent_name_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_zip_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_1_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_1_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_1_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_telnum_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_mailaddress_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="applications_number"><mt:If name="label_value" gt="1">

●2台目の申請 ===============
■製品情報 #2台目<mt:loop name="fields"><mt:If name="parts_id" eq="product_name_2">
製品名　　　　　　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="serial_no_2">
シリアルナンバー　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="firmware_2">
ファームウェアバージョン：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="hardware_version_2">
ハードウェアバージョン　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="purchase_date_2">
購入日　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="warranty_2">
D-Linkリミテッドライフタイム保証対象製品：<$mt:var name="label_value"$></mt:If></mt:loop>

■障害内容 #2台目
故障内容【STEP1】
<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_2"><mt:if name="label_value"><$mt:var name="label_value"$></mt:If></mt:if></mt:loop>

故障内容詳細【STEP2】<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_2"><mt:If name="label_value" like="①電源部不具合">

①電源部不具合
<$mt:setvar name="occurrence_point_2_1_value"$><$mt:setvar name="condition_2_1_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_2_1"><mt:setvarblock name="occurrence_point_2_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_2_1_value"$><mt:If name="occurrence_point_2_1_value" like="その他 発生箇所"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_2_1"><mt:If name="occurrence_point_2_1_value" like="その他 発生箇所">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="condition_2_1"><mt:setvarblock name="condition_2_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_1_value"$><mt:If name="condition_2_1_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_1"><mt:If name="condition_2_1_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="②PoE受電または給電不具合">

②PoE受電または給電不具合
<$mt:setvar name="condition_2_2_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_2_2"><mt:setvarblock name="condition_2_2_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_2_value"$><mt:If name="condition_2_2_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_2"><mt:If name="condition_2_2_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="③LED不具合">

③LED不具合
<$mt:setvar name="occurrence_point_2_3_value"$><$mt:setvar name="condition_2_3_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_2_3"><mt:setvarblock name="occurrence_point_2_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_2_3_value"$><mt:If name="occurrence_point_2_3_value" like="上記以外の箇所で発生"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_2_3"><mt:If name="occurrence_point_2_3_value" like="上記以外の箇所で発生">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="occurrence_port_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_2_3"><mt:setvarblock name="condition_2_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_3_value"$><mt:If name="condition_2_3_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_3"><mt:If name="condition_2_3_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="④ポート不具合">

④ポート不具合
<$mt:setvar name="condition_2_4_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_2_4"><mt:setvarblock name="condition_2_4_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_4_value"$><mt:If name="condition_2_4_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_4"><mt:If name="condition_2_4_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_2_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑤FAN不具合">

⑤FAN不具合
<$mt:setvar name="condition_2_5_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_2_5"><mt:setvarblock name="condition_2_5_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_5_value"$><mt:If name="condition_2_5_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_5"><mt:If name="condition_2_5_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑥無線接続の不具合">

⑥無線接続の不具合
<$mt:setvar name="condition_2_6_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_2_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_2_6"><mt:setvarblock name="condition_2_6_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_6_value"$><mt:If name="condition_2_6_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_6"><mt:If name="condition_2_6_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_2_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑦リセット（初期化）の不具合">

⑦リセット（初期化）の不具合
<$mt:setvar name="condition_2_7_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_2_7"><mt:setvarblock name="condition_2_7_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_2_7_value"$><mt:If name="condition_2_7_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_2_7"><mt:If name="condition_2_7_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_2_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_2_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_2_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_2_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop>

詳細【STEP3】
<mt:loop name="fields"><mt:If name="parts_id" eq="detail_coment_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>

■修理後ご返却先情報 #2台目
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_2"><$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_2"><mt:If name="label_value" like="NO"><mt:loop name="fields"><mt:If name="parts_id" eq="return_houjin_mei_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_agent_name_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_zip_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_2_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_2_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_2_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_telnum_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_mailaddress_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="applications_number"><mt:If name="label_value" gt="2">

●3台目の申請 ===============
■製品情報 #3台目<mt:loop name="fields"><mt:If name="parts_id" eq="product_name_3">
製品名　　　　　　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="serial_no_3">
シリアルナンバー　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="firmware_3">
ファームウェアバージョン：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="hardware_version_3">
ハードウェアバージョン　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="purchase_date_3">
購入日　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="warranty_3">
D-Linkリミテッドライフタイム保証対象製品：<$mt:var name="label_value"$></mt:If></mt:loop>

■障害内容 #3台目
故障内容【STEP1】
<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_3"><mt:if name="label_value"><$mt:var name="label_value"$></mt:If></mt:if></mt:loop>

故障内容詳細【STEP2】<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_3"><mt:If name="label_value" like="①電源部不具合">

①電源部不具合
<$mt:setvar name="occurrence_point_3_1_value"$><$mt:setvar name="condition_3_1_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_3_1"><mt:setvarblock name="occurrence_point_3_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_3_1_value"$><mt:If name="occurrence_point_3_1_value" like="その他 発生箇所"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_3_1"><mt:If name="occurrence_point_3_1_value" like="その他 発生箇所">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="condition_3_1"><mt:setvarblock name="condition_3_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_1_value"$><mt:If name="condition_3_1_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_1"><mt:If name="condition_3_1_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="②PoE受電または給電不具合">

②PoE受電または給電不具合
<$mt:setvar name="condition_3_2_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_3_2"><mt:setvarblock name="condition_3_2_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_2_value"$><mt:If name="condition_3_2_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_2"><mt:If name="condition_3_2_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="③LED不具合">

③LED不具合
<$mt:setvar name="occurrence_point_3_3_value"$><$mt:setvar name="condition_3_3_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_3_3"><mt:setvarblock name="occurrence_point_3_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_3_3_value"$><mt:If name="occurrence_point_3_3_value" like="上記以外の箇所で発生"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_3_3"><mt:If name="occurrence_point_3_3_value" like="上記以外の箇所で発生">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="occurrence_port_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_3_3"><mt:setvarblock name="condition_3_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_3_value"$><mt:If name="condition_3_3_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_3"><mt:If name="condition_3_3_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="④ポート不具合">

④ポート不具合
<$mt:setvar name="condition_3_4_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_3_4"><mt:setvarblock name="condition_3_4_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_4_value"$><mt:If name="condition_3_4_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_4"><mt:If name="condition_3_4_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_3_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑤FAN不具合">

⑤FAN不具合
<$mt:setvar name="condition_3_5_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_3_5"><mt:setvarblock name="condition_3_5_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_5_value"$><mt:If name="condition_3_5_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_5"><mt:If name="condition_3_5_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑥無線接続の不具合">

⑥無線接続の不具合
<$mt:setvar name="condition_3_6_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_3_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_3_6"><mt:setvarblock name="condition_3_6_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_6_value"$><mt:If name="condition_3_6_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_6"><mt:If name="condition_3_6_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_3_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑦リセット（初期化）の不具合">

⑦リセット（初期化）の不具合
<$mt:setvar name="condition_3_7_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_3_7"><mt:setvarblock name="condition_3_7_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_3_7_value"$><mt:If name="condition_3_7_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_3_7"><mt:If name="condition_3_7_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_3_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_3_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_3_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_3_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop>

詳細【STEP3】
<mt:loop name="fields"><mt:If name="parts_id" eq="detail_coment_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>

■修理後ご返却先情報 #3台目
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_3"><$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_3"><mt:If name="label_value" like="NO"><mt:loop name="fields"><mt:If name="parts_id" eq="return_houjin_mei_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_agent_name_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_zip_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_3_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_3_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_3_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_telnum_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_mailaddress_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="applications_number"><mt:If name="label_value" gt="3">

●4台目の申請 ===============
■製品情報 #4台目<mt:loop name="fields"><mt:If name="parts_id" eq="product_name_4">
製品名　　　　　　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="serial_no_4">
シリアルナンバー　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="firmware_4">
ファームウェアバージョン：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="hardware_version_4">
ハードウェアバージョン　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="purchase_date_4">
購入日　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="warranty_4">
D-Linkリミテッドライフタイム保証対象製品：<$mt:var name="label_value"$></mt:If></mt:loop>

■障害内容 #4台目
故障内容【STEP1】
<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_4"><mt:if name="label_value"><$mt:var name="label_value"$></mt:If></mt:if></mt:loop>

故障内容詳細【STEP2】<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_4"><mt:If name="label_value" like="①電源部不具合">

①電源部不具合
<$mt:setvar name="occurrence_point_4_1_value"$><$mt:setvar name="condition_4_1_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_4_1"><mt:setvarblock name="occurrence_point_4_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_4_1_value"$><mt:If name="occurrence_point_4_1_value" like="その他 発生箇所"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_4_1"><mt:If name="occurrence_point_4_1_value" like="その他 発生箇所">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="condition_4_1"><mt:setvarblock name="condition_4_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_1_value"$><mt:If name="condition_4_1_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_1"><mt:If name="condition_4_1_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="②PoE受電または給電不具合">

②PoE受電または給電不具合
<$mt:setvar name="condition_4_2_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_4_2"><mt:setvarblock name="condition_4_2_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_2_value"$><mt:If name="condition_4_2_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_2"><mt:If name="condition_4_2_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="③LED不具合">

③LED不具合
<$mt:setvar name="occurrence_point_4_3_value"$><$mt:setvar name="condition_4_3_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_4_3"><mt:setvarblock name="occurrence_point_4_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_4_3_value"$><mt:If name="occurrence_point_4_3_value" like="上記以外の箇所で発生"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_4_3"><mt:If name="occurrence_point_4_3_value" like="上記以外の箇所で発生">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="occurrence_port_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_4_3"><mt:setvarblock name="condition_4_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_3_value"$><mt:If name="condition_4_3_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_3"><mt:If name="condition_4_3_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="④ポート不具合">

④ポート不具合
<$mt:setvar name="condition_4_4_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_4_4"><mt:setvarblock name="condition_4_4_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_4_value"$><mt:If name="condition_4_4_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_4"><mt:If name="condition_4_4_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_4_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑤FAN不具合">

⑤FAN不具合
<$mt:setvar name="condition_4_5_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_4_5"><mt:setvarblock name="condition_4_5_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_5_value"$><mt:If name="condition_4_5_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_5"><mt:If name="condition_4_5_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑥無線接続の不具合">

⑥無線接続の不具合
<$mt:setvar name="condition_4_6_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_4_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_4_6"><mt:setvarblock name="condition_4_6_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_6_value"$><mt:If name="condition_4_6_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_6"><mt:If name="condition_4_6_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_4_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑦リセット（初期化）の不具合">

⑦リセット（初期化）の不具合
<$mt:setvar name="condition_4_7_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_4_7"><mt:setvarblock name="condition_4_7_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_4_7_value"$><mt:If name="condition_4_7_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_4_7"><mt:If name="condition_4_7_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_4_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_4_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_4_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_4_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop>

詳細【STEP3】
<mt:loop name="fields"><mt:If name="parts_id" eq="detail_coment_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>

■修理後ご返却先情報 #4台目
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_4"><$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_4"><mt:If name="label_value" like="NO"><mt:loop name="fields"><mt:If name="parts_id" eq="return_houjin_mei_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_agent_name_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_zip_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_4_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_4_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_4_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_telnum_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_mailaddress_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="applications_number"><mt:If name="label_value" gt="4">

●5台目の申請 ===============
■製品情報 #5台目<mt:loop name="fields"><mt:If name="parts_id" eq="product_name_5">
製品名　　　　　　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="serial_no_5">
シリアルナンバー　　　　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="firmware_5">
ファームウェアバージョン：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="hardware_version_5">
ハードウェアバージョン　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="purchase_date_5">
購入日　：<$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="warranty_5">
D-Linkリミテッドライフタイム保証対象製品：<$mt:var name="label_value"$></mt:If></mt:loop>

■障害内容 #5台目
故障内容【STEP1】
<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_5"><mt:if name="label_value"><$mt:var name="label_value"$></mt:If></mt:if></mt:loop>

故障内容詳細【STEP2】<mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_5"><mt:If name="label_value" like="①電源部不具合">

①電源部不具合
<$mt:setvar name="occurrence_point_5_1_value"$><$mt:setvar name="condition_5_1_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_5_1"><mt:setvarblock name="occurrence_point_5_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_5_1_value"$><mt:If name="occurrence_point_5_1_value" like="その他 発生箇所"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_5_1"><mt:If name="occurrence_point_5_1_value" like="その他 発生箇所">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="condition_5_1"><mt:setvarblock name="condition_5_1_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_1_value"$><mt:If name="condition_5_1_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_1"><mt:If name="condition_5_1_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="②PoE受電または給電不具合">

②PoE受電または給電不具合
<$mt:setvar name="condition_5_2_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_5_2"><mt:setvarblock name="condition_5_2_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_2_value"$><mt:If name="condition_5_2_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_2"><mt:If name="condition_5_2_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="③LED不具合">

③LED不具合
<$mt:setvar name="occurrence_point_5_3_value"$><$mt:setvar name="condition_5_3_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_5_3"><mt:setvarblock name="occurrence_point_5_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="occurrence_point_5_3_value"$><mt:If name="occurrence_point_5_3_value" like="上記以外の箇所で発生"> :</mt:if></mt:if><mt:If name="parts_id" eq="occurrence_otherpoint_5_3"><mt:If name="occurrence_point_5_3_value" like="上記以外の箇所で発生">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="occurrence_port_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_5_3"><mt:setvarblock name="condition_5_3_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_3_value"$><mt:If name="condition_5_3_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_3"><mt:If name="condition_5_3_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:If></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="④ポート不具合">

④ポート不具合
<$mt:setvar name="condition_5_4_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="occurrence_port_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_5_4"><mt:setvarblock name="condition_5_4_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_4_value"$><mt:If name="condition_5_4_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_4"><mt:If name="condition_5_4_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_5_4">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑤FAN不具合">

⑤FAN不具合
<$mt:setvar name="condition_5_5_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_5_5"><mt:setvarblock name="condition_5_5_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_5_value"$><mt:If name="condition_5_5_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_5"><mt:If name="condition_5_5_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑥無線接続の不具合">

⑥無線接続の不具合
<$mt:setvar name="condition_5_6_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="occurrence_point_5_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="condition_5_6"><mt:setvarblock name="condition_5_6_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_6_value"$><mt:If name="condition_5_6_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_6"><mt:If name="condition_5_6_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="after_replacement_5_6">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop><mt:loop name="fields"><mt:If name="parts_id" eq="failure_point_1"><mt:If name="label_value" like="⑦リセット（初期化）の不具合">

⑦リセット（初期化）の不具合
<$mt:setvar name="condition_5_7_value"$><mt:loop name="fields"><mt:If name="parts_id" eq="condition_5_7"><mt:setvarblock name="condition_5_7_value"><$mt:var name="label_value"$></mt:setvarblock>
<$mt:var name="label" remove_html="1"$> : <$mt:var name="condition_5_7_value"$><mt:If name="condition_5_7_value" like="上記以外の不具合内容"> :</mt:if></mt:if><mt:If name="parts_id" eq="condition_other_5_7"><mt:If name="condition_5_7_value" like="上記以外の不具合内容">
<$mt:var name="label_value"$></mt:if></mt:if><mt:If name="parts_id" eq="reproducibility_5_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_miniute_5_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_hour_5_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="reproducibility_day_5_7">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop>

詳細【STEP3】
<mt:loop name="fields"><mt:If name="parts_id" eq="detail_coment_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>

■修理後ご返却先情報 #5台目
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_5"><$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop>
<mt:loop name="fields"><mt:If name="parts_id" eq="same_person_5"><mt:If name="label_value" like="NO"><mt:loop name="fields"><mt:If name="parts_id" eq="return_houjin_mei_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_agent_name_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_zip_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_5_1">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_5_2">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_address_5_3">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_telnum_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:if><mt:If name="parts_id" eq="return_mailaddress_5">
<$mt:var name="label" remove_html="1"$> : <$mt:var name="label_value"$></mt:If></mt:loop></mt:if></mt:if></mt:loop></mt:If></mt:if></mt:loop>


===========以上===========
<mt:if name="display_ip_ua">
<__trans phrase="IP">: <mt:var name="ip">
<__trans phrase="User Agent">: <mt:var name="ua">
</mt:if>
