<div class="mt-draggable__empty" style="height:400px;">
	<img src="<mt:var name="static_uri">images/dragdrop.gif" alt="Drag and drop area" width="240" height="120">
	<p><__trans phrase="Please add a parts."></p>
</div>
