		<div class="form-group-button" id="aformFieldBtnGroup%%field_idx%%"><button type="button" id="aformFieldBtnClose%%field_idx%%" class="btn btn-default aform-field-btn-close" data-toggle="collapse" data-target="#field%%field_idx%%-content"><__trans phrase="Close"></button></div>
	</div>
</div>
