<div class="form-row mb-2">
	<div class="col-9">
		<select class="custom-select form-control aform-field-relation-parts" id="aformFieldRelationParts%%field_idx%%-%%relation_idx%%">
		</select>
	</div>
	<div class="col-3">
		<__trans phrase=" value is ">
	</div>
</div>
<div class="form-row">
	<div class="col-9">
		<input type="text" class="form-control aform-field-relation-value" id="aformFieldRelationValue%%field_idx%%-%%relation_idx%%">
	</div>
	<div class="col-3">
		<select class="custom-select form-control aform-field-relation-cond" id="aformFieldRelationCond%%field_idx%%-%%relation_idx%%">
			<option value="eq"><__trans phrase="Equal"></option>
			<option value="ne"><__trans phrase="Not equal"></option>
		</select>
	</div>
</div>
