<div class="form-group">
	<input type="radio" name="aform-field-is-amember-user-id-field" class="aform-field-is-amember-user-id-field" id="aformFieldIsAmemberUserIdField%%field_idx%%" value="1">
	<label for="aformFieldIsAmemberUserIdField%%field_idx%%"><__trans phrase="Use this parts for amember login ID."></label>
	<span style="display:none;" id="aformFieldIsAmemberUserIdFieldWarning%%field_idx%%">(<__trans phrase="You cannot change login parts because AMember users exists.">)</span>
	<p style="display:none;" id="aformFieldIsAmemberUserIdFieldHint%%field_idx%%"><__trans phrase="Amember login ID description for email parts."></p>
</div>
