<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<__trans_section component="AForm">
<mt:if name="id" eq="1">
<mt:include name="modules/page_complete_form.mtml" component="AForm">
</mt:if>
<mt:if name="id" eq="6">
<mt:include name="modules/page_complete_other.mtml" component="AForm">
</mt:if>
<mt:if name="id" gt="7">
<div id="aform-<$mt:var name="id"$>" class="aform <$mt:var name="aform_lang"$>">
<div class="aform-header"><$mt:var name="aform_title" escape="html"$></div>
<div class="aform-content" id="aform_result">
<mt:if name="aform_thanks_message">
  <mt:var name="aform_thanks_message" mteval="1">
<mt:else>
  <__trans phrase="Received No."> #<mt:var name="received_id"><br />
  <__trans phrase="Send completed."><a href="<mt:var name="blog_top">"><__trans phrase="Back to Top page"></a>
</mt:if>
</div>
</div>
</mt:if>
</__trans_section>
