<mt:Ignore>Copyright (c) 2008 ARK-Web Co.,Ltd.</mt:Ignore>
<mt:if name="use_mt_blog_template_set_ver42">
                </div>
            </div>
        </div>
    </div>
<mt:include module="aform_js">
</body>
</html>
<mt:else>
</mt:if>
